<div class="Head">
<center>
<h3 >Enter Issue Board DDN</h3>
<input type="text" class="searchBar" ng-model="issueddn" placeholder="Enter DDN Here" />
</center>
<br>
<br>
<center>
<button class="btnclass"  ng-click="updateissueddn()" >Update</button>
</center>
</div>
<br>
<div ng-include="'app/partials/DisplayStatus.html'" ng-show="true" >	
</div>