<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand pull-left pan" href="https://zip.pr" target="_blank">
      	<img class="zippr-img" src="app/assets/images/zippr.png" />
      </a>
    </div>
  </div>
</nav>