body, html {height: 100%; width: 100%; position: relative; margin: 0 auto;}

/* Leaflet */
.leaflet-container a:hover{
	color: #ff7800;
}

/* zippr image */
.zippr-img {height: 40px; padding-top: 5px;}

/* navigation */
.navbar-inverse{background-color: #fff; border-color: #fff/*e8796a*/; z-index: 10009;}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a{color: #e8796a;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
	color: #46453A;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #46453A;
	background: #fff;
}

.navbar-inverse .navbar-toggle .glyphicon-th{color: #fff; font-size: 19px;}
.navbar-toggle.pull-left{display: block !important; padding: 4px 12px;}

.navbar-fixed-top {border-width: 0 0 1px; box-shadow: 0px 0px 3px 1px #e8796a;}

.navbar-inverse .navbar-toggle{background: #333; border-color: #d85124;}
.navbar-inverse .navbar-toggle:hover{background: #e8796a;}
.dropdown-menu > li > a {color: #e8796a;}
/* login */
#login{
	background-color: #fff; width: 350px; margin: 0 auto; border: 1px solid #d9d9d9;
	border-top: 5px solid #e8796a; margin-top: 100px;
}
#login .content {padding: 30px; padding-top: 10px; padding-bottom: 15px;}
#login .form-title{text-align: center; font-weight: 300; margin-bottom: 25px;}
#login .input-icon{position: relative;}
.input-icon .glyphicon{
	display: block!important; position: absolute!important; z-index: 1;
	margin: 8px 2px 4px 10px; width: 16px; height: 16px; font-size: 16px;
	text-align: center;
}
.input-icon>input{padding-left: 30px!important; border-left: 2px solid #e8796a;}
#login .form-action{height: 34px;}

/* button */
.btn-primary{background-color: #EC7734; border-color: #e56857;}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary[disabled]:hover,

.leaflet-container:active .btn-primary:focus, .leaflet-container:hover .btn-primary:hover {
	background-color: #46453A; border-color: #46453A;
}
.leaflet-container .btn-primary, .leaflet-container .btn-primary:hover {color: #fff;}
/* header panel */
.header-panel {
	background-color: #EC7734; color: #fff;
	padding-top: 2px; padding-bottom: 2px;
	text-align: center; margin-bottom: 5px;
	border: 1px solid #acacac;
}
.btnclass{
	color: white;
	background-color: #EC7734;
	border-radius:5px;
	width:80px;
	height: 40px;
}
.panel-default > .panel-heading{
	background-color: #5BBC93;
}
td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 4px;
}
.panel-default{
border-radius: 15px;
padding: 15px;
}
.header-panel h4 {font-weight: normal;}
.boxclass{
	background-color: green;
	padding: 0px;

}
.header-panel .refresh {
	color: #fff; padding-right: 5px;
	font-size: 12px; font-weight: normal;
}
.header-panel .refresh .glyphicon {
	-ms-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	transform: rotate(-60deg);
}
.last-form .col-sm-2, .last-form .col-sm-10 {
	margin-bottom: 15px;
}
.col-sm-10{
	width: 55%;
}
.ch{
	height: 100%;
}
.col-sm-6{
	height:40%;
	padding-top: 0px;
}
/* info table */
.table-bordered > tbody > tr > td {
	border-width: 1px;
}

td {
	text-align: center
}
/* shadow box */
.shadow-panel {
	box-shadow: #888888 0px 0px 8px; padding: 8px;
	float: inherit; width: 100%; height: 100%;
	margin-left:5px;
}


/* ui grid */
	.ui-grid {border: 1px solid #dedee0;}
/* ui grid */

/* Bootstrap Overrides */
	#fromDate .form-control[readonly], #toDate .form-control[readonly] {
		background-color: #fff;
	}
	.table > thead > tr > th {border-bottom: 1px solid #dedee0;}
	/*.table > thead > tr > th:not(:first-child),
	.table > tbody > tr > td:not(:first-child) 
	{border-left: 1px solid #dedee0;}*/

	.thead-bg{background-color: #f3f3f4;}
	.static-table{height: 400px; border: 1px solid #dedee0; overflow-y: scroll;}
/* Bootstrap Overrides */

/* Main */
	.container{width: 100%; padding-left: 0px; padding-right: 0px;}
	#main-container{height: 100%;width: 100%; padding-top: 60px;}
	#content-pane{
		position: relative;
		height: -moz-calc(100% - 10px); height: -webkit-calc(100% - 10px);
		height: calc(100% - 10px); min-height: 500px;
	}
	#map, #right-content{height: 100%; position: relative; border: 1px solid #dedee0;}
	#right-content{overflow: scroll;}
	#right-content .list-group{margin-bottom: 2px;}
	#style-pane{
		position: absolute;
		bottom: 8px;
		left: 23px;
	}
	#side-pane{
		position: absolute;
		left: 15px;
		z-index: 10000;
		background: #eee;
		border: 1px solid #4d4d4d;
		overflow-y: scroll;
		transition: all linear 0.4s;
	}
	#side-pane .dropdown-menu {
		z-index: 10001;
	}
	#side-pane.ng-hide {
		height: 0;
		width: 0;
		background-color: transparent;
		left:-200px;
		right: 200px;
	}
	#toggleButton {
		position: absolute;
		z-index: 10002;
		left: 15px;
		border-radius: 0px;
	}
	#toggleButton a{color: #e8796a;}
	#parent-panel{position: absolute; z-index: 10002; right: 70px; top: 5px; background: #fff; padding: 5px;}
	#content .list-group{margin-bottom: 2px;}
	#content .list-group:last-of-type{margin-bottom: 0px;}
	.height100{height: 100%;}
	#rightPaneLoader{position: absolute; top: 40%; left: 45%;}
	.image-pane {width: 200px; height: 200px; position: relative; border: 1px solid #2b0f0f; margin: 0 auto 10px;}


	.home-content {background-color: #f5f5f5;}
	.widget {color: #fff; margin-bottom: 20px;}
	.row-table {display: table; table-layout: fixed; height: 100%; width: 100%; margin: 0;}
	.row-table > [class*=col-] {
 		display: table-cell; float: none; table-layout: fixed; vertical-align: middle;
	}

	.num-pane span {font-size: 30px;}
	.title-panel {font-size: 20px;}
.real-time{
	height: 314px; border: 1px solid #dedee0; overflow-y: scroll;
}
.real-time-d{
	height: 361px;
}
.real-time .list {padding: 9px;}
.real-time .zpr {text-decoration: underline;}
.real-time .name {text-decoration: underline;}

.cm-height {height: 305px !important;}
.cmm-height {height: 275px;}
.special-icon:hover {
	text-decoration: none;
}
@media screen and (min-width: 768px) {
	.dwelling-table, .agent-table{margin-bottom: 0px;}
}
/* Main */



/* d3 overrides */
.nvd3 text {font: normal 14px "Helvetica Neue",Helvetica,Arial,sans-serif;}
/* Custom */
	.man{margin: 0px !important;}
	.mtn{margin-top: 0px;}
	.mts{margin-top: 5px;}
	.mtm{margin-top: 10px;}
	.mtl{margin-top: 15px;}

	.mrl{margin-right: 15px;}

	.mbn{margin-bottom: 0px;}
	.mbm{margin-bottom: 10px;}
	.mbl{margin-bottom: 15px;}
	.mbdl{margin-bottom: 25px;}

	.mlm{margin-left: 10px;}
	.mll{margin-left: 15px;}

	.mlrn{margin-left: 0px !important; margin-right: 0px !important;}
	.mlnl{margin-left: -15px;}
	.mrnl{margin-right: -15px;}
	
	.pan{padding: 0px;}
	.pas{padding: 5px;}
	.pam{padding: 10px;}

	.ptn{padding-top: 0px;}
	.pts {padding-top: 5px;}
	.ptm{padding-top: 10px;}
	.ptl{padding-top: 15px;}
	
	.prn{padding-right: 0px;}
	.prs{padding-right: 5px;}
	.prm{padding-right: 10px;}
	.prl{padding-right: 15px;}

	.pbm{padding-bottom: 10px;}
	.pbl{padding-bottom: 15px;}

	.pln{padding-left: 0px;
		padding-right: 0px;}
	.pln1{
		width: 250px;
    margin: 20px;
    border-radius: 5px;
	}
	h5{
		color: white
	}
	.pls{padding-left: 5px;}
	.plm{padding-left: 10px;}
	.pll{padding-left: 15px;}

	.brn{border-radius: 0 !important;}
	.scrly {overflow-y: scroll;}
	.capital-text {text-transform: capitalize;}
	.fa-3x {font-size: 3em;}
	.fwb{font-weight: 500;}
	.fntsm{font-size: 10px;}
	.btn-circle-sm{width: 35px; height: 35px; text-align: center; padding: 2px 0; font-size: 20px; line-height: 1.65; border-radius: 30px;}
	.cl-left {clear: left;}
	.cl-both {clear: both;}
	.txt-left {text-align: left !important;}
/* Custom */

@media screen and (max-width: 767px) {
	.form-control, .search-button, #content{margin-top: 5px;}
	#right-content{margin-top: 15px;}
	#segment-pane, #content-pane{height: 510px;}
	.building-table, .agent-table {margin-left: -15px;}
	.dropdown-menu > li > a {
		color: #e8796a;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus{
		color: #46453A;
	}
}

.searchBar {
	width: 80%;
	height: 40px;
	margin: 10px;
}

.Head {
	margin: 20px;
}

